.welcome {
    font-family: 'Arial Narrow', sans-serif;
    font-size: 28px;
    text-align: center;
}

.page {
    background-color: rgb(4, 100, 133);
}

.links {
    font-family: 'Arial Narrow', sans-serif;
    font-size: 18px;
    margin-left: 15px;
    margin-right: 15px;
}
.links a {
    text-decoration: none;
}

.links a:hover {
    background-color: #ddd;
    color: black;
  }

  .roster {
      border: 2px solid whitesmoke;
      width: 40%;
      padding: 10px;
  }

.picture {
    position: absolute;
    right: 15px;
    top: 165px;
}