.place {
    background-color: rgb(4, 100, 133);
    /* margin-top: 0; */
}

.textarea {
    height: 100px;
    width: 500px;
    margin-bottom: 10px;
}

/* #week, #clarity, #satisfaction, #team, #forward, #inclusion {
    height: 40px;
    width: 80px;
} */

.submit {
    height: 20px;
    width: 80px;
    /* display: inline-block; */
    margin: 0, 0, 10px, 20px;
    position: absolute;
    left: 40px;
}

h3, ol {
    margin: 0;
}

.short {
    margin-bottom: 15px;
}

li {
    margin-bottom: 5px;
}

option {
    height: 8%;
    width: 12%;
}

.welcome {
    font-family: 'Arial Narrow', sans-serif;
    font-size: 28px;
    text-align: center;
}